table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 20px;
    font-size: 20px;
    width: 30%;
    table-layout: fixed;
}

.center {
    margin-left: auto;
    margin-right: auto;
}